.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}